/* Navigation Bar */

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

section {
  z-index: 1;
}

.App {
  background-color: black;
}

/* Navigation Bar */

nav {
  padding: 15px 30px 15px 20px;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.logo_box {
  height: 50px;
  width: 50px;
  pointer-events: none;
}

.sun_logo_box {
  height: 25px;
  width: 25px;
  margin-left: 40px;
  pointer-events: none;
}

.sun_logo {
  filter: invert(100%);
}

.nav-list {
  display: flex;
  color: white;
  font-size: 16px;
  list-style: none;
  align-items: center;
}

.nav-item {
  text-decoration-color: #F8F8FF;
  list-style: none;
}


/* Space between items */
.nav-item + .nav-item {
  margin-left: 20px;
}

.nav-link {
  text-decoration: none;
  color: #F8F8FF;
}

.container {
  display: flex;
}








/* Main Content */
.landing_page {
  width: 100%;
  min-height: 100vh;
  /*background-image: linear-gradient(to bottom right, #3b4679, #2b3153); */
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: 1;
}















.App {
  text-align: center;
}

.App-logo {
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
