/* Navigation Bar */

header {
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: black;
  font-size: px;
}

section {
  z-index: 1;
}

nav {
  padding: 1rem 1rem 1rem 1rem;
  align-items: center;
  display: inline-flex;
}

.nav-list {
  display: flex;
  color: white;
  list-style: none;
  justify-content: space-between;
  align-content: flex-end;
  margin-left: 20rem;
}

.nav-item {
  text-decoration-color: white;
  list-style: none;
}


/* Space between items */
.nav-item + .nav-item {
  margin-left: 10px;
}

.nav-link {
  text-decoration: none;
  color: white;
  list-style: none;
}

.container {
  display: flex;
  color: white;
}


.logo_box {
  height: 10vmin;
  width: 10vmin;
  padding: ;
  pointer-events: none;
}

.logo {
  margin-top: rem;
  display: block;
}







/* Main Content */
.landing_page {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #3b4679, #2b3153);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  z-index: 1;
}















.App {
  text-align: center;
}

.App-logo {
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
